<% if (status === "create") { %>
  <% var titleText = "Create Document" %>
  <% var buttonText = "Upload" %>
<% } else { %>
  <% var titleText = "Edit Document Info" %>
  <% var buttonText = "Update" %>
<% } %>

<h1><%= titleText %></h1>

<p class='errors'></p>

<form class="document-form">
  <label for="title">Title</label>
  <input
    id="title"
    type="text"
    name="title"
    value="<%= model.escape("title") %>">

<% if (status === "create") { %>
  <label for="input-document-file">File</label>
  <input id="input-document-file" type="file" name="document[file]">
<% } %>

  <button class="submit"><%= buttonText %></button>
</form>
