<h1 class="welcome-message">Hi <%= user.escape('name') %></h1>
<div class="nav-set">
  <ul class="nav-options group">
    <li class="nav group"><a href="#/family">Family</a></li>
    <li class="nav group"><a href="#/photos">Photos</a></li>
    <li class="nav group"><a href="#/documents">Documents</a></li>
    <!-- <li class="nav group"><a href="#/treasures">Treasures</a></li>
    <li class="nav group"><a href="#/stories">Stories</a></li>
    <li class="nav group"><a href="#/recipes">Recipes</a></li> -->
  </ul>
</div>
