<h1 class="welcome-message">Hi <%= user.name() %></h1>
<h2><%= user.section().get('name') && "Welcome to Kitah " + user.section().get('name') %></h2>
<div class="nav-set">
  <ul class="nav-options group">
    <li class="nav group"><a href="#/family">Family</a></li>
    <li class="nav group"><a href="#/photos">Photos</a></li>
    <li class="nav group"><a href="#/documents">Documents</a></li>
  </ul>
  <% if (user.section().get('name')) { %>
    <h3>Kitah Units</h3>
    <ul class="section nav-options group"></ul>
  <% } %>
</div>
