<% if (status === "create") { %>
  <% var titleText = "Create Photo" %>
  <% var buttonText = "Upload" %>
<% } else { %>
  <% var titleText = "Edit Photo Info" %>
  <% var buttonText = "Update" %>
<% } %>

<h1><%= titleText %></h1>

<p class='errors'></p>

<form>
  <input
    id="title"
    type="text"
    name="title"
    placeholder="Description"
    value="<%= model.escape("title") %>">

  <% if (status === "create") { %>
    <label for="input-photo-image">Image</label>
    <input id="input-photo-image" type="file" name="photo[image]">
    <img src="" id="preview-post-image" width="100">
  <% } %>

  <label for="description">What is this photo of?</label>
  <br>
  <textarea
    id="description"
    name="description"><%= model.escape("description") %></textarea>

  <button class="submit"><%= buttonText %></button>
</form>
