<img class="group" src="<%= this.model.escape('image_url') %>">
<section class="photo-info group">
  <h1 class="title"><%= this.model.escape('title') %></h1>
  <p><%= this.model.escape('description') %></p>
</section>
<button class="edit">Edit</button>
<button class="previous-photo"><</button>
<button class="next-photo">></button>
