div.header-container {
  background: #cbfdcb;
  height: 40px;
  border-bottom: 1px solid #ccc;
}

div.header {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

form.sign-out {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  input {
    width: auto;
  }
}
