div.header-container {
  background: #cbfdcb;
  height: 40px;
  border-bottom: 1px solid #ccc;
  position: relative;

  div.header {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    position: relative;

    a.logo {
      background: transparent;

      img {
        height: 40px;
      }
    }
  }
}

form.sign-out {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  input {
    width: auto;
  }
}
