<% if status == :new %>
  <% action = users_url %>
  <% button_text = "Sign Up" %>
<% elsif status == :session %>
  <% action = session_url %>
  <% button_text = "Sign In" %>
<% end %>

<form action="<%= action %>" method="POST">
  <%= form_auth_token %>

  <label for="username">Username</label>
  <input
    id="username"
    type="text"
    name="user[username]"
    value="<%= @user.username %>">

  <label for="password">Password</label>
  <input
    id="password"
    type="password"
    name="user[password]">

  <button><%= button_text %></button>
</form>
