<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'New Family Member', new_api_family_member_path %> |
<%= link_to 'Edit', edit_user_path(@user) %>
