<form class='family-member-form'>

  <label for="fname">First Name</label>
  <input
    id="name"
    type="text"
    name="family_member[fname]"
    value="<%= model && model.escape('fname') %>">

  <label for="lname">Last Name</label>
  <input
    id="name"
    type="text"
    name="family_member[lname]"
    value="<%= model && model.escape('lname') %>">

  <label>ParentA
    <select class="select-parent parentA" name="family_member[parentA]">
      <option></option>
    </select>
  </label>
  <label>ParentB
    <select class="select-parent parentB" name="family_member[parentB]">
      <option></option>
    </select>
  </label>
  <button><%= model.isNew() ? "Add to Family" : "Submit Edit" %></button>
</form>
