<form class='family-member-form'>

  <input
    id="name"
    type="text"
    name="family_member[fname]"
    placeholder="First Name"
    value="<%= model && model.escape('fname') %>">

  <input
    id="name"
    type="text"
    name="family_member[lname]"
    placeholder="Last Name"
    value="<%= model && model.escape('lname') %>">

  <label>ParentA
    <select class="select-parent parentA" name="family_member[parentA]">
      <option></option>
    </select>
  </label>
  <label>ParentB
    <select class="select-parent parentB" name="family_member[parentB]">
      <option></option>
    </select>
  </label>

  <br><br>
  <label>
    Generation (Provide a number, 0 for your generation, 1 for your parents, 2 for your grandparents, negative numbers for newer ones)
  <input
    type="number"
    name="family_member[generation]"
    value="<%= model && model.escape('generation') %>">
  </label>
  <button class="submit"><%= model.isNew() ? "Add to Family" : "Submit Edit" %></button>
</form>
