<form class='family-member-form'>

  <label for="fname">First Name</label>
  <input
    id="name"
    type="text"
    name="family_member[fname]">

  <label for="lname">Last Name</label>
  <input
    id="name"
    type="text"
    name="family_member[lname]">

  <button>Add to Family</button>
</form>
