div.main {
  width: 90%;
  margin: 20px auto 0 auto;

  h1.welcome-message, h2 {
    text-align: center;
  }
  h1.welcome-message {
    font-size: 20px;
  }
}



div.nav-set {
  margin: 0 auto;
}

ul.nav-options {
  margin: 0 auto;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  padding: 64px 0;
  margin: 10px;
  width: 140px;
  text-align: center;
  background: #797997;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

li.nav a:hover {
  cursor: pointer;
  background: #657e65
}
