// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.auth-form {
  text-align: center;
}

form.authentication input {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 10px 5px;
  background: #eee;
  border: 1px solid #aaa;
  outline: none;
}

form.authentication input:focus {
  background: #cbfdcb;
}
