<form action="<%= api_family_members_url %>" method="POST">
  <%= form_auth_token %>

  <label for="fname">First Name</label>
  <input
    id="name"
    type="text"
    name="family_member[fname]"
    value="<%= @family_member.fname %>">

  <label for="lname">Last Name</label>
  <input
    id="name"
    type="text"
    name="family_member[lname]"
    value="<%= @family_member.lname %>">

  <button>Create</button>
</form>
