<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @family_member.name %>
</p>


<%= link_to 'Edit', edit_api_family_member_path(@family_member) %> |
<a href="<%= "/api/users/" + @family_member.user_id.to_s %>" >Back</a>
